.container {
    padding: 8px;
    margin: 8px;
    background-color: darkturquoise;
    border-radius: 4px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
}

.mapContainer {
   
    width: 600px;
    max-width: 100%;
    min-height: 500px;
}

.mapLabel {
    width: 200px;
    height: 200px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex
}