.submitButton {
    background-color: deepskyblue;
    min-width: 40px;
    min-height: 40px;
    color: white;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin: 8px;
}